{% extends "layout.html" %} 

{% block header %}
<title>Disability Access Navigation Guide - Home</title>
<link rel="stylesheet" href="../static/stylesheets/index.css">
        
{% endblock %}

{% block content %}

        <h1>Disability Access Navigation Guide</h1>
        <h2>Welcome</h2>
        <p>We are a group of computer science students at WWU who focused on accessible computing. Please contribute to our project by uploading accessibility related information for buildings and walkways throughout campus.</p>

        <div class="upload-container">
            <div class="upload-box">
                <form action="" method="POST">
                    <label for="entry-date">Today's Date:</label>
                    <input type="date" id="entry-date" name="entry-date" autofocus>

                    <select name="location">
                        <option disable selected>Location</option>
                        {% for location in locations %}
                            <option> {{ location }}
                            </option>
                        {% endfor %}
                    </select>
                       
                    <label class="custom-file-upload">
                        <input type="file" id="filename" name="filename">
                    </label>

                    <label for="description">Description:</label>
                    <input type="textarea" id="desc" name="desc" placeholder="Enter any additional details here...">

                    <input type="submit"></button>

                </form>
            </div>
        </div>



{% endblock %}