<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/template.css" />
    {% block header %}
        
    {% endblock %}
</head>
<body>
    <div class="header-nav">
        <a href="https://www.wwu.edu"><img src="/static/images/thumbnail_Outlook-Logo, comp.png" alt="Western Washington University logo with slogan: make waves."></a>
        <ul class = "nav-links">
            <a href="/"><li>Home</li></a>
            <a href="about"><li>About</li></a>
            <a href="map"><li>Campus Map</li></a>
            <a href="contact"><li>Contact Us</li></a>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        
        {% endblock %}
    </div>
    <div class="footer">
        <a href="https://gitlab.cs.wwu.edu/strongd5/dang-group">
            <img src="/static/images/gitlab-logo-700.png" alt="GitLab logo with transparent background" >
        </a>
        Disability Access Navigation Guide
    </div>
</body>
</html>